<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Memory Mapped Registers"
            icon="icons/sample.gif"
            category="org.eclipse.debug.ui"
            class="com.analog.gnu.debug.ui.views.mmr.MMRView"
            id="com.analog.gnu.debug.mmr.views.MMRView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.RegisterView"
               relationship="right"
               id="com.analog.gnu.debug.mmr.views.MMRView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
